@page "/Common/Pages/Errors/CannotReachAuthorizationProvider"

@using Microsoft.Extensions.Configuration

@inject IConfiguration configuration
@inject IOptions<Services.Authorization.AuthorizationOptions> _authorizationOptions

<div class="d-flex justify-space-around mt-16">
    <div>
        <MudText Typo="Typo.h3">
            Authorization Provider Error
        </MudText>
        <MudText Typo="Typo.body1">
            The system cannot reach Authorization Provider at <b>@_authorizationProviderUrl</b>
        </MudText>
    </div>
    <div>
        <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
    </div>
</div>
