@page "/Common/Pages/Errors/Forbidden"

<div class="d-flex justify-space-around mt-16">
    <div>
        <MudText Typo="Typo.h2">Unauthorized</MudText>
        <AuthorizeView>
            <Authorized>
                <MudText>User <b>@context.User.GetDisplayName()</b> with position <b>@context.User.GetPositionName()</b> is not authorized to access this page.</MudText>
            </Authorized>
            <NotAuthorized>
                <MudText>You are not authorized to access this page.</MudText>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div>
        <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
    </div>
</div>
