@page "/Common/Pages/Errors/NotFound"

<div class="d-flex justify-space-around mt-16">
    <div>
        <MudText Typo="Typo.h2">404 @nameof(NotFound).SplitWords()</MudText>
        <MudText Typo="Typo.body1">The resource you're looking for is not found.</MudText>
    </div>
    <div>
        <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
    </div>
</div>
