@page "/Common/Pages/Errors/ServiceUnavailable"

<div class="d-flex justify-space-around mt-16">
    <div>
        <MudText Typo="Typo.h2">@nameof(ServiceUnavailable).SplitWords()</MudText>
        <MudText Typo="Typo.body1">Back-End Service is currently unavailable.</MudText>
    </div>
    <div>
        <img src="img/unauthorized.png" alt="Unauthorized" width="300" />
    </div>
</div>
